<div class="container d-flex p-4">
  <app-card
    nome="Professor Cerginho da Pereira Nunes"
    nomeAtor="Caito Mainier"
    descricao="Jornalista diplomado sempre com análises precisas de futebol"
    linkImagem="https://pbs.twimg.com/media/DSLX6wLWsAAwbN6?format=jpg"
  ></app-card>
  <app-card
    nome="Craque Daniel"
    nomeAtor="Daniel Furlan"
    descricao='Ex-jogador e empresário, ídolo do futebol capixaba, inventor do gol de voleio deitado, escritor do best-seller "Você não merece ser feliz, como conseguir mesmo assim"'
    linkImagem="https://m.media-amazon.com/images/S/aplus-media/vc/266f24b9-98a0-41c0-a341-b32d75f6b7ec.__CR0,0,300,300_PT0_SX300_V1___.jpg"
  ></app-card>
</div>
